venv/
.venv/

__pycache__/
*.pyc

.git
.gitignore

.pytest_cache/
.coverage

.env
.env.test

tests/

postgres_data/


venv/
.venv/

**pycache**/
*.pyc

.git
.gitignore

.pytest_cache/

tests/

.env
.env.test

README.md

.idea/
.vscode/

*.log
