.env
venv/
.venv/
__pycache__/
.pytest_cache/
.env.test


.env
.env.test

venv/
.venv/

**pycache**/
*.pyc
*.pyo
*.pyd

.pytest_cache/
.coverage

.idea/
.vscode/

*.log

.DS_Store

postgres_data/

htmlcov/

dist/
build/

*.sqlite3
